---

import MainLayout from '../../layouts/MainLayout.astro';
import CodeEditor from '../../components/CodeEditor.astro';
import '../../styles/live-code.css';

import json from '../../collection/iusamples.json';
export function getStaticPaths(){
const samples = json.samples
  return samples.map(({title, desc, html, css, js}) => {
    return {
        params: {sample: title},
        props: {title, desc, html, css, js},
    }
  });
}
const {title, desc, html, css, js} = Astro.props; 


const javascript_code = `console.log("jsCode");`;

---

<MainLayout title={title}>
<p>
{desc}
</p>

<div class="container"> 
    <div class="left">
        <CodeEditor type="HTML" code={html}/>
        <CodeEditor type="CSS" code={css}/>
        <CodeEditor type="JS" code={js}/>
    </div>
    <div class="right">
        <lable>Results</lable>
        <iframe id="results"></iframe>
    </div>
</div>
</MainLayout>



<script>
    import * as ace from 'brace';
    import 'brace/mode/javascript';
    import 'brace/mode/css';
    import 'brace/mode/html';
    import 'brace/theme/twilight';
    import 'brace/theme/chrome';
    const isHTML = document.getElementById("HTML")
    
        const html_editor = ace.edit("HTML");
        html_editor.session.setMode('ace/mode/html');
        html_editor.setTheme('ace/theme/twilight');
        html_editor.getSession().on('change', function() {runCode()});    
   
        
        const css_editor = ace.edit("CSS");
        css_editor.session.setMode('ace/mode/css');
        css_editor.setTheme('ace/theme/twilight');
        css_editor.getSession().on('change', function() {runCode()});
        
        const js_editor = ace.edit("JS");
        js_editor.session.setMode('ace/mode/javascript');
        js_editor.setTheme('ace/theme/twilight');
        js_editor.getSession().on('change', function() {runCode()});
        

   function runCode(){

    //editor.setReadOnly(true); 
    //let cssCode = "<style>"+css_editor.getValue()+"</style>";
   
   // let jsCode = javascript_editor.getValue();
    //add code to iframe
    let results = document.getElementById("results");
    if(document.getElementById("HTML")){
        let htmlCode = html_editor.getValue();
        results.contentDocument.body.innerHTML = htmlCode;
    }
    if(document.getElementById("CSS")){
        let cssCode = css_editor.getValue();
        if(cssCode.length == 0){
            let el = document.getElementById("CSS");
            el.innerHTML = "";
            el.className = '';
        }else{
            results.contentDocument.head.innerHTML =  "<style>"+cssCode+"</style>";
        }
    }
    if(document.getElementById("JS")){
        let jsCode = js_editor.getValue();
        if(jsCode.length == 0){
            let el = document.getElementById("JS");
            el.innerHTML = "";
            el.className = '';
        }else{
            results.contentWindow.eval(jsCode);
        }
    }
   
}
runCode();
    </script>