---

import MainLayout from '../layouts/MainLayout.astro';
import { Code } from 'astro:components';
import '../styles/live-code.css';

//data objects
const css_code = `h1, p {
    font-family: verdana;
    color: #bbb;
    text-align: center;
}
p {
    text-align: left;
}`;
const html_code = `<h1>Title</h1>
<p>html content here</p> `;

const javascript_code = `console.log("jsCode");`;

---

<MainLayout title="Live Code POC">
    <div class="container"> 
        <div class="left">
            <lable>CSS</lable>
            <div class="editor" id="css-editor">{css_code}</div>
            <lable>HTML</lable>
            <div class="editor" id="html-editor">{html_code}</div>
            <lable>Javascript</lable>
            <div class="editor" id="javascript-editor">{javascript_code}</div>
        </div>
        <div class="right">
            <lable>Results</lable>
            <iframe id="results"></iframe>
        </div>
    </div>
</MainLayout>

<script>
import * as ace from 'brace';
import 'brace/mode/javascript';
import 'brace/mode/css';
import 'brace/mode/html';
import 'brace/theme/twilight';


//make editor a utility class
const css_editor = ace.edit('css-editor');
css_editor.session.setMode('ace/mode/css');
css_editor.setTheme('ace/theme/twilight');
css_editor.getSession().on('change', function() {runCode()});

const html_editor = ace.edit('html-editor');
html_editor.session.setMode('ace/mode/html');
html_editor.setTheme('ace/theme/twilight');
html_editor.getSession().on('change', function() {runCode()});

const javascript_editor = ace.edit('javascript-editor');
javascript_editor.session.setMode('ace/mode/javascript');
javascript_editor.setTheme('ace/theme/twilight');
javascript_editor.getSession().on('change', function() {runCode()});

function runCode(){
    let cssCode = "<style>"+css_editor.getValue()+"</style>";
    let htmlCode = html_editor.getValue();
    let jsCode = javascript_editor.getValue();
    //add code to iframe
    let results = document.getElementById("results");
    results.contentDocument.head.innerHTML= cssCode;
    results.contentDocument.body.innerHTML= htmlCode;
    results.contentWindow.eval(jsCode);
}
runCode();
</script>