---

import MainLayout from '../../layouts/MainLayout.astro';
import '../../styles/live-code.css';
import { getCollection, CollectionEntry} from 'astro:content';


export const getStaticPaths = async() => {
    const uiSamples = await getCollection("uiSamples");

    return uiSamples.map(sample=> ({
        
            params: {slug:sample.slug},
            props: {sample}
        
    }));
}

type Props = {
    sample: CollectionEntry<"uiSamples">
}
const {sample} = Astro.props;
const { Content } = await sample.render();
//console.log(sample);
---


<MainLayout title={sample.data.title}>
    <p>
    {sample.data.desc}
    </p>
    
    <div class="container"> 
        <div class="left">
            <Content/>
        </div>
        <div class="right">
            <lable>Results</lable>
            <iframe id="results"></iframe>
        </div>
    </div>
</MainLayout>


<script>
    import * as ace from 'brace';
    import 'brace/mode/javascript';
    import 'brace/mode/css';
    import 'brace/mode/html';
    import 'brace/theme/twilight';
    import 'brace/theme/chrome';

         // Setup CSS
         const cssElement = document.getElementById("CSS");
        if(cssElement){
            let cssLBL = document.createElement('lable');
            cssLBL.textContent = "CSS";
            cssElement.parentNode.insertBefore(cssLBL, cssElement);

            let css_editor = ace.edit("CSS");
            css_editor.session.setMode('ace/mode/css');
            css_editor.setTheme('ace/theme/twilight');
            css_editor.getSession().on('change', function() {runCode(null,css_editor.getValue())});
            runCode(null, css_editor.getValue()); 
        }
        // Setup JS
        const jsElement = document.getElementById("JS");
        if(jsElement){
            let jsLBL = document.createElement('lable');
            jsLBL.textContent = "JS";
            jsElement.parentNode.insertBefore(jsLBL, jsElement);


            const js_editor = ace.edit("JS");
            js_editor.session.setMode('ace/mode/javascript');
            js_editor.setTheme('ace/theme/twilight');
            js_editor.getSession().on('change', function() {runCode(null, null, js_editor.getValue())});
            runCode(null, null, js_editor.getValue()); 
        }
         // Setup HTML
        const htmlElement = document.getElementById("HTML");
        const htmlContent = htmlElement?.innerHTML;   
        if(htmlElement){
            let htmlLBL = document.createElement('lable');
            htmlLBL.textContent = "HTML";
            htmlElement.parentNode.insertBefore(htmlLBL, htmlElement);

            const html_editor = ace.edit("HTML");
            html_editor.session.setMode('ace/mode/html');
            html_editor.setTheme('ace/theme/twilight');
            html_editor.setValue(htmlContent) 
            html_editor.clearSelection();
            html_editor.getSession().on('change', function() {runCode(html_editor.getValue())});
            runCode(html_editor.getValue()); 
        }

   function runCode(html?:any, css?: any, js?: any){
        let htmlCode = html;
        let cssCode = css;
        let jsCode = js;
        //console.log("html: "+htmlCode);
        //console.log("CSS: "+cssCode);
        //console.log("JS: "+jsCode);
        let results = document.getElementById("results");
        if(htmlCode){
            results.contentDocument.body.innerHTML = htmlCode;
        }
        if(cssCode){
            results.contentDocument.head.innerHTML =  "<style>"+cssCode+"</style>";
        }
        if(jsCode){
            results.contentWindow.eval(jsCode);
        }
    }
runCode();
    </script>