---
import '../styles/hamburger-nav.css';
import { getCollection } from 'astro:content';

const uiSamples = await getCollection("uiSamples");
const cssSamples = await getCollection("cssSamples");
const uiAccelerators = await getCollection("uiAccelerators");
const layoutExamples = await getCollection("layoutExamples");
const uiPlayground = await getCollection("uiPlayground");
---


<button class="menu-btn" popovertarget="menu">
    <span>&#9776;</span>
    <span class="sr-only">Open menu</span>
  </button>

  <nav popover id="menu" class="sidebar">
    <button class="close-btn" popovertarget="menu" popovertargetaction="hide">
        <span aria-hidden="true">&#10006;</span>
        <span class="sr-only">Close menu</span>
      </button>
        <ul>
            <li><a href="/">Overview</a></li>
            <li>
                <details>  
                    <summary>Native UI</summary> 
                    <ul>
                        <li><a href="/ui-samples">Overview</a></li>
                        {uiSamples.map((uiSamples) => (
                            <li><a href={"/ui-samples/"+uiSamples.slug}> {uiSamples.data.title} </a></li>
                        ))}
                    </ul>
                </details>   
            </li>
            <li>
                <details>  
                    <summary>Native CSS</summary> 
                    <ul>
                        <li><a href="/css-samples">Overview</a></li>
                        {cssSamples.map((cssSamples) => (
                            <li><a href={"/css-samples/"+cssSamples.slug}> {cssSamples.data.title} </a></li>
                        ))}
                    </ul>
                </details> 
               
            </li>
            <li>
                <details>  
                    <summary>UI Accelerators</summary> 
                    <ul>
                        <li><a href="/ui-accelerators">Overview</a></li>
                        {uiAccelerators.map((uiAccelerators) => (
                            <li><a href={"/ui-accelerators/"+uiAccelerators.slug}> {uiAccelerators.data.title} </a></li>
                        ))}
                    </ul>
                </details> 
            </li>
            <li>
                <details>  
                    <summary>Layouts</summary> 
                    <ul>
                        <li><a href="/layout-Examples">Overview</a></li>
                        {layoutExamples.map((layoutExamples) => (
                            <li><a href={"/layout-Examples/"+layoutExamples.slug}> {layoutExamples.data.title} </a></li>
                        ))}
                    </ul>
                </details> 
            </li>
            <li>
                <details>  
                    <summary>Playground</summary> 
                    <ul>
                        <li><a href="/ui-playground">Overview</a></li>
                        {uiPlayground.map((uiPlayground) => (
                            <li><a href={"/ui-playground/"+uiPlayground.slug}> {uiPlayground.data.title} </a></li>
                        ))}
                    </ul>
                </details> 
            </li>
            <li>
                <details>  
                    <summary>Design Systems</summary> 
                    <ul>
                        <li><a href="/design-systems">Overview</a></li>
                        <li><a href={"/design-systems/tokens"}>Tokens</a></li>
                        <li><a href={"/design-systems/atoms"}>UI Atoms</a></li>
                    </ul>
                </details> 
            </li>
            <li><a href="#">Build Patterns</a> <sub>comming soon</sub></li>
            <li><a href="/CSS-Structure">CSS Hierarchy</a></li>
            <li><a href="#">Browser Render Cycle</a> <sub>comming soon</sub></li>
            <li><a href="/Render-Patterns">Render Patterns</li>
        </ul>
    </nav>
