---
import "../styles/hamburger-nav.css";
import { getCollection } from "astro:content";
import Search from "./Search.astro";

const nativeHTML = await getCollection("nativeHTML");
const nativeCSS = await getCollection("nativeCSS");
const nativeJS = await getCollection("nativeJS");
const uiAccelerators = await getCollection("uiAccelerators");
const layoutExamples = await getCollection("layoutExamples");
const uiPlayground = await getCollection("uiPlayground");

let { noSearch } = Astro.props;
---

<button class="menu-btn" popovertarget="menu">
    <span>&#9776;</span>
    <span class="sr-only">Open menu</span>
</button>
<nav popover id="menu" class="sidebar">
    <button class="close-btn" popovertarget="menu" popovertargetaction="hide">
        <span aria-hidden="true">&#x2715;</span>
        <span class="sr-only">Close menu</span>
    </button>

    <ul>
        <li
            style="display: flex; justify-content: center; align-items: center; margin-top: 5px; margin-bottom: -14px;"
        >
            <a href="/">
                <svg
                    version="1.0"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#FFFFFF"
                    viewBox="0 0 600.000000 447.000000"
                    preserveAspectRatio="xMidYMid meet"
                    height="35"
                    width="35"
                >
                    <g
                        transform="translate(0.000000,447.000000) scale(0.050000,-0.050000)"
                        fill="#ffffff"
                        stroke="none"
                    >
                        <path
                            d="M2848 6916 c-483 -509 -1103 -1163 -1378 -1455 -275 -291 -619 -656 -765 -810 l-265 -280 107 -111 c164 -170 945 -1004 2013 -2150 534 -571 984 -1053 1000 -1071 17 -17 70 -75 119 -129 l88 -97 267 278 c147 154 291 308 319 344 l51 65 -97 106 c-148 161 -1491 1593 -2074 2211 l-517 548 107 112 c59 62 216 225 349 363 132 137 443 462 689 720 246 259 637 668 869 910 231 242 476 499 544 570 l123 131 -320 334 c-176 184 -328 335 -336 335 -9 0 -411 -416 -893 -924z"
                        ></path>
                        <path
                            d="M7620 7517 c-170 -178 -313 -331 -317 -341 -4 -11 77 -106 180 -213 406 -420 768 -799 1907 -1993 241 -253 444 -465 449 -470 6 -6 37 -39 69 -74 l57 -64 -476 -506 c-261 -278 -558 -591 -658 -696 -216 -225 -1342 -1425 -1469 -1564 -48 -54 -81 -104 -73 -112 15 -14 382 -407 544 -583 l83 -90 137 149 c120 130 386 416 1546 1660 514 551 861 920 1211 1290 198 210 377 400 397 424 l38 44 -348 366 c-191 201 -586 618 -877 926 -1063 1124 -2064 2170 -2077 2170 -7 0 -152 -145 -323 -323z"
                        ></path>
                        <path
                            d="M4028 4722 c-4 -5 -8 -187 -8 -405 l0 -397 1820 0 1821 0 -6 401 -5 401 -1807 4 c-993 2 -1810 0 -1815 -4z"
                        ></path>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <Search />
        </li>
        <li>
            <details name="navGroup">
                <summary>Native HTML</summary>
                <div class="details-content">
                    <ul>
                        <li><a href="/native-html">Overview</a></li>
                        {
                            nativeHTML.map((nativeHTML) => (
                                <li>
                                    <a href={"/native-html/" + nativeHTML.slug}>
                                        {" "}
                                        {nativeHTML.data.title}{" "}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </details>
        </li>
        <li>
            <details name="navGroup">
                <summary>Native CSS</summary>
                <div class="details-content">
                    <ul>
                        <li><a href="/native-css">Overview</a></li>
                        {
                            nativeCSS.map((nativeCSS) => (
                                <li>
                                    <a href={"/native-css/" + nativeCSS.slug}>
                                        {" "}
                                        {nativeCSS.data.title}{" "}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </details>
        </li>
        <li>
            <details name="navGroup">
                <summary>Native JS</summary>
                <div class="details-content">
                    <ul>
                        <li><a href="/native-js">Overview</a></li>
                        {
                            nativeJS.map((nativeJS) => (
                                <li>
                                    <a href={"/native-js/" + nativeJS.slug}>
                                        {" "}
                                        {nativeJS.data.title}{" "}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </details>
        </li>
        <li>
            <details name="navGroup">
                <summary>UI Accelerators</summary>
                <div class="details-content">
                    <ul>
                        <li><a href="/ui-accelerators">Overview</a></li>
                        {
                            uiAccelerators.map((uiAccelerators) => (
                                <li>
                                    <a
                                        href={
                                            "/ui-accelerators/" +
                                            uiAccelerators.slug
                                        }
                                    >
                                        {" "}
                                        {uiAccelerators.data.title}{" "}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </details>
        </li>
        <li>
            <details name="navGroup">
                <summary>Layouts</summary>
                <div class="details-content">
                    <ul>
                        <li><a href="/layout-Examples">Overview</a></li>
                        {
                            layoutExamples.map((layoutExamples) => (
                                <li>
                                    <a
                                        href={
                                            "/layout-Examples/" +
                                            layoutExamples.slug
                                        }
                                    >
                                        {" "}
                                        {layoutExamples.data.title}{" "}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </details>
        </li>
        <li>
            <details name="navGroup">
                <summary>Playground</summary>
                <div class="details-content">
                    <ul>
                        <li><a href="/ui-playground">Overview</a></li>
                        {
                            uiPlayground.map((uiPlayground) => (
                                <li>
                                    <a
                                        href={
                                            "/ui-playground/" +
                                            uiPlayground.slug
                                        }
                                    >
                                        {" "}
                                        {uiPlayground.data.title}{" "}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </details>
        </li>
        <li>
            <details name="navGroup">
                <summary>Design Systems</summary>
                <ul>
                    <li><a href="/design-systems">Overview</a></li>
                    <li><a href={"/design-systems/tokens"}>Tokens</a></li>
                    <li><a href={"/design-systems/atoms"}>UI Atoms</a></li>
                </ul>
            </details>
        </li>
        <li>
            <a href="/SoC">Separation of Concerns</a>
        </li>
        <li>
            <a href="/architectural-principles"
                >UI/UX Architectural Principles</a
            >
        </li>
        <li>
            <a href="/Render-Patterns">Render Patterns</a>
        </li>
        <li>
            <a href="/pros-cons">Framework Pros & Cons </a>
        </li>
    </ul>
</nav>
