---
import '../styles/variables.css';
import '../styles/reset.css';
import '../styles/global.css';
import Header from '../components/Header.astro';

import Footer from '../components/Footer.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import Search from '../components/Search.astro';


let {title} = Astro.props
let {desc} = Astro.props
let {noSearch} = Astro.props

let description =  !desc ? "Reduce Complexities & Improve Performance. Showcase native HTML CSS & Javascript UI solutions using lesser known or emerging native browser capabilities" : desc;
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Behind The Framework-{title}</title>	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

	<meta name="description" content={description}>

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
	<meta property="og:title" content={title} />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Behind The Framework">
	<meta property="og:url" content="https://behindtheframework.com/" />
	<meta property="og:description " content={description} />
	<meta property="og:image" content="https://behindtheframework.com/assets/logo.png" />
	<meta property="twitter:domain" content="https://behindtheframework.com" />
	<meta property="twitter:title" content={title} />
	<meta property="twitter:description " content={description} />
	
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C9H26N6KB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C9H26N6KB2');
</script>
<body>
	<main class="primary-layout">
		<section class="full-width header_section ">
			<Header {noSearch}/>
		</section>
		<section class="full-width subHeader">
			<div class="breakout">	
				<Breadcrumb /><!--{!noSearch && <Search/>} -->
				<h2>{title}</h2>
				<p>{desc}</p>
				
			</div>
		</section>
		<section class="breakout">
				<slot></slot>
		</section>
		<section class="full-width footer">
			<Footer/>
		</section>
	</main>
</body>
</html>
<slot name="after-html"/>