---
import '../styles/variables.css';
import '../styles/reset.css';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Hamburger from '../components/Hamburger.astro';
import Footer from '../components/Footer.astro';
import Breadcrumb from '../components/Breadcrumb.astro';


let {title} = Astro.props
let {desc} = Astro.props
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Behind The Framework-{title}</title>	
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

</head>
<body>
	<main class="primary-layout">
		<section class="full-width header_section ">
			<Hamburger/><Header/>
		</section>
			<section class="full-width subHeader">
			<div class="breakout">	
				<Breadcrumb />
				<h2>{title}</h2>
				<p>{desc}</p>
			</div>
			</section>
			<section class="breakout">
				<slot></slot>
			</section>
		<section class="breakout">
			<Footer/>
		</section>
	</main>
</body>
</html>
<slot name="after-html"/>